@import '/src/styles/styles.scss';

.component {
  outline: none;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  color: $color-font;

  &.danger {
    background-color: $color-danger;
  }

  .button-ring {
    margin: 2px;
  }
}

.component.primary {
  background-color: $color-primary;
}

.component.secondary {
  background-color: $color-secondary;
}

.component.tertiary {
  color: $color-font-tertiary;
  background-color: $color-tertiary;
  outline: $color-primary solid 1px;
}

.component.danger {
  background-color: $color-danger;
}

.component.button-ring {
  margin: 2px;
}

/**
  * Idle state
  */
.component[data-state='idle'] {
  &:hover {
    &.tertiary {
      color: $color-font;
      background-color: $color-primary;
    }

    > .button-ring {
      outline: $color-ring-outline solid 1px;
      cursor: pointer;
    }
  }
}

/**
  * Focused state
  */
.component[data-state='focused'] {
  &.tertiary {
    color: $color-font;
    background-color: $color-primary;
  }
  > .button-ring {
    outline: $color-ring-outline solid 1px;
    cursor: pointer;
  }
  &:active {
    background-color: $color-background-action;
    &.danger {
      background-color: $color-background-danger-action;
    }
    &.secondary {
      background-color: $color-background-secondary-action;
    }
  }
}

/**
  * Disabled state
  */
.component[data-state='disabled'] {
  outline: none;
  color: $color-font;
  background-color: $color-background-disabled;
  cursor: not-allowed;
}
