@import '/src/styles/styles.scss';

.component {
  outline: none;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;

  &.primary {
    color: $color-font;
    background-color: $color-primary;
  }

  &.secondary {
    color: $color-font;
    background-color: $color-secondary;
  }

  &.tertiary {
    color: $color-font-tertiary;
    background-color: $color-tertiary;
    outline: $color-primary solid 1px;
  }

  &.danger {
    color: $color-font;
    background-color: $color-danger;
  }

  .button-ring {
    margin: 2px;
  }

  /**
   * Idle state
   */
  &.idle-state {
    &:hover {
      &.tertiary {
        color: $color-font;
        background-color: $color-primary;
      }

      .button-ring {
        outline: $color-ring-outline solid 1px;
        cursor: pointer;
      }
    }
  }

  /**
  * Focused state
  */
  &.focused-state {
    &.tertiary {
      color: $color-font;
      background-color: $color-primary;
    }
    .button-ring {
      outline: $color-ring-outline solid 1px;
      cursor: pointer;
    }
    &:active {
      background-color: $color-background-action;
      &.danger {
        background-color: $color-background-danger-action;
      }
    }
  }

  /**
  * Disabled state
  */
  &.disabled-state {
    outline: none;
    color: $color-font;
    background-color: $color-background-disabled;
    cursor: not-allowed;
  }
}
