:root {
  // Base Palette
  --red: #da1e28;
  --grey: #ffffff;
  --green: #4fbf83;

  // Variants on the base
  --red-darken-20: #af1820; // darken(--red, 20%)
  --green-darken-20: #399d67; // darken(--green, 20%)
  --grey-darken-22: #e0e0e0; // darken(--grey, 22%)
  --grey-darken-25: #c0c0c0; // darken(--grey, 25%)
  --grey-darken-78: #393939; // darken(--grey, 78%)
  --grey-darken-88: #1f1f1f; // darken(--grey, 88%)
}
