// Naming: https://medium.com/eightshapes-llc/naming-tokens-in-design-systems-9e86c7444676
// System, Element, Category, Concept, Property, Variant, State
@import './palette.scss';

// Category, Variant
$color-primary: var(--green);

// Category, Variant
$color-secondary: var(--grey-darken-78);

$color-background-secondary-action: var(--grey-darken-88);

// Category, Variant
$color-tertiary: var(--grey);

// Category, Variant
$color-danger: var(--red);

// Category, Property
$color-font: var(--grey);

// Category, Propery
$color-font-tertiary: var(--green);

// Category, Property, State
$color-background-action: var(--green-darken-20);

//Category,Property,Variant,State
$color-background-danger-action: var(--red-darken-20);

//Category,Property,State
$color-background-disabled: var(--grey-darken-25);

// Category, Concept, Property
$color-template-background: var(--grey-darken-22);

// Category, Concept, Property
$color-template-font: transparent;

// Category, Concept, Property
$color-ring-outline: var(--grey);

// Category, Property
$color-border: var(--grey-darken-22);
