$primary-color: #4fbf83;
$caption-color: #ffffff;
$color-action-contrast: #368d5e;
$disabled: #c0c0c0;
$template: rgba(255, 255, 255, 0.5);

.button-component {
  outline: none;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  color: $caption-color;
  background-color: $primary-color;
  padding: 0;

  .button-ring {
    margin: 2px;
  }

  /**
   * Template state
   */
  &.template-state {
    .button-caption,
    .button-icon {
      color: transparent;
      background-color: $template;
      height: 18px;
    }
  }

  /**
   * Idle state
   */
  &.idle-state {
    &:hover {
      .button-ring {
        outline: $caption-color solid 1px;
        cursor: pointer;
      }
    }
  }

  /**
  * Focused state
  */
  &.focused-state {
    .button-ring {
      outline: $caption-color solid 1px;
    }
    &:active {
      background-color: $color-action-contrast;
    }
  }

  /**
  * Disabled state
  */
  &.disabled-state {
    background-color: $disabled;
    cursor: not-allowed;
  }
}
