$primary-color: #ffffff;
$accent: #4fbf83;

.component {
  border-radius: 6px;
  border: solid $accent 2px;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
}

.focus-ring {
  display: flex;
  margin: 6px 2px 6px 2px;
  border-radius: 5px;
}

.text {
  display: flex;
  color: $accent;
  font-weight: bold;
  margin: 10px 15px 10px 15px;
}

.idle {
  background-color: $primary-color;
}

.focused {
  background-color: $primary-color;
  .focus-ring {
    outline: $accent dashed 1px;
  }
}

.active {
  background-color: transparent;
  & .focus-ring {
    background-color: $primary-color;
    border-radius: 6px;
  }
}

.disabled {
  background-color: lightgray;
  color: $primary-color;
}

.working {
  background-color: lightgray;
  border: solid lightgray 2px;
  & .text {
    color: $primary-color;
  }
}

.no_hover {
  cursor: auto;
}

.hover {
  background-color: $primary-color;
  cursor: pointer;
  & .focus-ring {
    background-color: lighten($primary-color, 6%);
  }

  & button {
    cursor: pointer;
  }
}
